<<<<<<< HEAD
header {
    color: #FF0000;
    height: 70px;
    width: 100%;
    background-color: #FF0000;
}

=======
header div {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
}
>>>>>>> 2cb7348dc024a0e7bfe8bd1ed50ba0d1ecff6266
